[user]
	name = Simon Séhier
	email = simon.sehier@camptocamp.com

[merge]
	tool = vimdiff

[color]
  branch = auto
  diff = auto
  status = auto
  interactive = auto

[alias]
  a = add -p
  st = status
  s = status -sb
  l=ls-files
  ci = commit
  br = branch
  co = checkout
  cp = cherry-pick
  cp-last = cherry-pick @{-1}
  df = diff
  d = diff --word-diff=color
  sh = show --word-diff=color
  dc = diff --cached
  fo = fetch origin
  fu = fetch upstream
  lg=log --graph --oneline --all
  wc = whatchanged
  remotes = remote -v
  branches = branch -a -vv
  oops=commit --amend --no-edit
  paf = push -f
[push]
	default = simple

[pretty]
  mine="%C(auto,yellow)%h %C(auto,cyan)%ai %C(auto,green)%aN%C(auto,reset),%n  %s"

[format]
	pretty = mine
