[user]
  name = Simon Séhier
  email = simon.sehier@camptocamp.com
  #signingkey = 7DAAB536
  signingkey = 75AA85F4B0B4900B8E84EEFF055347BF5133A918

[merge]
  tool = vimdiff

[color]
  branch = auto
  diff = auto
  status = auto
  interactive = auto

[alias]
  a = add -p
  st = status
  s = status -sb
  l=ls-files
  ci = commit
  commit = commit -S
  br = branch
  co = checkout
  cp = cherry-pick
  cp-last = cherry-pick @{-1}
  df = diff
  d = diff --word-diff=color
  sh = show --word-diff=color
  showfuller = show --pretty=fuller
  dc = diff --cached
  fo = fetch origin
  fu = fetch upstream
  lg=log --graph --oneline --all
  ll=log -5
  wc = whatchanged
  remotes = remote -v
  branches = branch -a -vv
  oops=commit --amend --no-edit
  paf = push -f
  quaranteneuftrois = push -f
[pull]
  rebase = true

[push]
  default = simple

[pretty]
  mine="%C(auto,yellow)%ai %C(auto,cyan)%h %C(auto,green)%aN%C(auto,reset),%n  %s%n"

[format]
  pretty = mine
