[user]
	name = Simon Séhier
	email = simon.sehier@camptocamp.com

[merge]
	tool = vimdiff

[color]
  branch = auto
  diff = auto
  status = auto
  interactive = auto

[alias]
  a = add -p
  st = status
  s = status -sb
  ci = commit
  br = branch
  co = checkout
  cp = cherry-pick
  cp-last = cherry-pick @{-1}
  df = diff
  d = diff --word-diff=color
  sh = show --word-diff=color
  dc = diff --cached
  fo = fetch origin
  fu = fetch upstream
  lg=log --graph --oneline --all
  lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(blue)%h%C(reset) - %C(green)(%ar)%C(reset) %s%C(reset) %C(magenta)- %an%C(reset)%C(cyan)%d%C(reset)' --all
  remotes = remote -v
  branches = branch -a -vv
  oops=commit --amend --no-edit
